<div class="search-area">
  {{#each post in model}}
    <div class="search-result">
      {{post.title}}
    </div>
  {{/each}}

  {{input value=term}}
  <button {{action 'doSearch'}} >Search</button>

  <p>
    The user searched for..  {{term}}
  </p>
</div>
