<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

<header>
  <h1 id="title">Blog Posts</h1>

  <div class="header-links">
    {{#link-to 'posts'}}
      Posts
    {{/link-to}}

    {{#link-to 'posts.new'}}
      New Post
    {{/link-to}}

    {{#link-to 'users'}}
    Users
    {{/link-to}}

    {{#link-to 'search'}}
      Search
    {{/link-to}}
  </div>

</header>



{{outlet}}
